name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - main
      - develop
  release:
    types:
      - published

jobs:
  dist:
    name: Distribution build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build sdist and wheel
        run: uvx build
      - uses: actions/upload-artifact@v3
        with:
          path: dist
      - name: Check products
        run: uvx twine check dist/*
  #     - uses: pypa/gh-action-pypi-publish@v1.5.0
  #       if: github.event_name == 'release' && github.event.action == 'published'
  #       with:
  #         user: __token__
  #         # Remember to generate this and set it in "GitHub Secrets"
  #         password: ${{ secrets.pypi_password }}
  #         # Remove this line
  #         repository_url: https://test.pypi.org/legacy/
